[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.9.4"
aiodns = "*"
cchardet = "*"
pymongo = ">=4.6.3"
requests = ">=2.32.0"
dash = "*"
pandas = "*"
plotly = "*"
tldextract = "*"
pyopenssl = "*"
dnspython = "*"
pyyaml = "*"
geoip2 = "*"
brotli = "*"
mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.10"
